
<p>開発メモ</p>
  <% @posts.each do |post| %>
    <table border="1" class="blogtable">
        <tr>
            <th>
              <%= post.title || 'タイトルなし' %>
            </th>
        </tr>
        <tr>
          <%= tag.td simple_format(post.content),
                class: 'blogcontent',
                style: post_bg_image(post) %>
        </tr>
        <tr>
            <td class="blogdate" align="right">
                <!-- {{ $data->date }} -->
                <%= post.created_at.strftime("%Y-%m-%d") %>
            </td>
        </tr>
    </table>
 <% end %>
